# DATABASE
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# BACKEND
DATABASE_URL=""
APP_ENCRYPTION_KEY=""
APP_API_KEY=""

# AI
LLM_PROVIDER=""
OPENAI_API_KEY=""
GOOGLE_API_KEY=""
GOOGLE_GENAI_MODEL=""
